.header {
    background-color: #FFF1D4;
    color: #CC800E;
    height: 190px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__title {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .header {
        height: 80px;
    }

    .header__title {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .header__text {
        font-size: 14px;
    }
}