.container {
  text-align: center;

  background-color: #FEDD9E;
  height: 100vh;
}

.main {
  height: calc(100vh - 380px);

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:768px) {
  .main {
    height: calc(100vh - 200px);
    flex-direction: column;
    justify-content: space-evenly;
  }
}