.board {
    height: 190px;
    width: 300px;

    background-color: #FFF;
    color: #CC800E;

    border: 15px solid #FFF1D4;
    border-radius: 10px;
    padding: 10px 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.board__text {
    margin-bottom: 15px;
}

.board__result {
    font-size: 32px;
}

@media (max-width:768px) {
    .board {
        width: 257px;
    }
}